<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Bootstrap CSS -->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
	crossorigin="anonymous">

<title>Cadastrar Recepcionistas</title>
</head>
<body
	style="background-image: linear-gradient(to right, rgb(26, 41, 128), rgb(38, 208, 206));">

	<div class="row">
		<div class="col-sm"></div>
		<div class="col-sm">
			<div class="row">
				<h1 style="color: #FFF; text-align: center;">Formulário para
					Recepcionistas</h1>
			</div>
			<form th:action="@{/cadastra_recepcionistas/}" th:object="${recepcionista}"
				th:method="post"
				style="background-color: #FFF; padding: 2em; border-radius: 1em;">
				<div class="mb-3">
					<label for="exampleInputNome1" class="form-label">Nome: </label> <input
						type="text" th:field="*{nome}" class="form-control"
						id="exampleInputNome1" aria-describedby="nomeHelp">
					<div id="nomelHelp" class="form-text">Digite o nome da
						Recepcionista</div>
				</div>
				<div class="mb-3">
					<label for="exampleInputMatricula1" class="form-label">Matrícula:
					</label> <input type="text" th:field="*{matricula}" class="form-control"
						id="exampleInputMatricula1" aria-describedby="matriculaHelp">
					<div id="matriculaHelp" class="form-text">Matrícula da
						Funciocionária: xxxxxx</div>
				</div>
				<div class="mb-3">
					<label for="exampleInputSetor1" class="form-label">Setor:
					</label> <input type="text" th:field="*{setor}" class="form-control"
						id="exampleInputSetor1" disabled="disabled" placeholder="Recepção">
				</div>

				<div class="row">
					<div class="col-sm">
						<button type="submit" formaction="/recepcionistas/cadastra_recepcionistas"
							class="btn btn-primary" style="width: 100%;">Cadastrar</button>
					</div>
					<div class="col-sm">
						<a th:href="@{/recepcionistas/}" class="btn btn-danger"
							style="width: 100%;">Cancelar</a>
					</div>
				</div>
			</form>
		</div>
		<div class="col-sm"></div>
	</div>

	<!-- Optional JavaScript; choose one of the two! -->

	<!-- Option 1: Bootstrap Bundle with Popper -->
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
		crossorigin="anonymous"></script>

	<!-- Option 2: Separate Popper and Bootstrap JS -->
	<!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
</body>
</html>
